:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* resposive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    z-index: -1;
}

.add_index{
    z-index: 1;
}

.open{
    display: block !important;
    animation: fadeIn ease-in 0.2s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: none;
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;   
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn-primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.select-input{
    padding: 0 12px;
    height: 34px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.select-input:hover .select-input-list{
    display: block;
}

.home-product-pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item-active .pagination-item-link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item-active .pagination-item-link:hover{
    background-color: #ed5c3f;
}

.pagination-item-link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.footer-background{
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/49b5753902db445292818641f17183b0.png);
}

.footer-visa{
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 73.52112676056338% 5.0761421319796955%;
}

.footer-mastercard{
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 44.50704225352113% 5.376344086021505%;
}

.footer-jcb{
    background-size: 1390.909090909091% 934.7826086956521%;
    background-position: 37.183098591549296% 30.729166666666668%;
}

.footer-amex{
    background-size: 1530% 977.2727272727273%;
    background-position: 11.188811188811188% 5.181347150259067%;
}

.footer-cod_footer{
    background-size: 1530% 741.3793103448276%;
    background-position: 79.3006993006993% 25.806451612903224%;
}

.footer-installment_footer{
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 79.85915492957747% 52.1505376344086%;
}

.footer-shopeepay{
    background-size: 765% 1131.578947368421%;
    background-position: 63.00751879699248% 24.489795918367346%;
}

.footer-shopee-express{
    background-size: 689.1891891891892% 1194.4444444444443%;
    background-position: 59.78593272171254% 5.0761421319796955%;
}

.footer-shopee-ghtk{
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 19.295774647887324% 51.776649746192895%;
}

.footer-shopee-ghn{
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 8.732394366197184% 54.83870967741935%;
}

.footer-shopee-viettel_post{
    background-size: 597.65625% 167.96875%;
    background-position: 65.77708006279435% 100%;
}

.footer-shopee-vnpost{
    background-size: 1390.909090909091% 796.2962962962963%;
    background-position: 100% 5.319148936170213%;
}

.footer-shopee-jnt{
    background-size: 1390.909090909091% 1343.75%;
    background-position: 84.08450704225352% 5.025125628140704%;
}

.footer-shopee-grab_express{
    background-size: 570.8955223880597% 741.3793103448276%;
    background-position: 25.673534072900157% 5.376344086021505%;
}

.footer-shopee-now{
    background-size: 956.25% 268.75%;
    background-position: 46.13138686131387% 77.77777777777777%;
}

.footer-shopee-ninja-van{
    background-size: 1275% 826.9230769230769%;
    background-position: 48.08510638297872% 31.21693121693122%;
}

.footer-shopee-best-express{
    background-size: 1062.5% 716.6666666666666%;
    background-position: 10.1010101010101% 28.10810810810811%;
}